{{answer}}

$$\displaystyle \overline{x} = \dfrac1n \sum_{i=1}^n x_i \dot r_i
= \dfrac{1}{ {{n}} } \left( {{x_1}} \dot {{r_1}} + {{x_2}} \dot {{r_2}} + \ldots
    + {{x_n}} \dot {{r_n}} \right)
= {{mean}}$$
&
{{score}} đ
