{{!Các tham số: sum_xy, sum_x, sum_y, sum_x2, sum_y2}}
Ta có:
\begin{gather*}
    \sum xy = {{sum_xy}}\\
    \sum x = {{sum_x}}\\
    \sum y = {{sum_y}}\\
    \sum x^2 = {{sum_x2}}\\
    \sum y^2 = {{sum_y2}}\\
\end{gather*}
&
{{score}} đ
