%! suppress = MissingImport
{{!Các tham số: sum_xy, sum_x, sum_y, sum_x2, sum_y2, n, cor}}
Hệ số tương quan là:
\begin{gather*}
    r = \dfrac{n\sum xy - (\sum x) \cdot (\sum y)}{\sqrt{n\sum x^2
        - (\sum x)^2}\sqrt{n\sum y^2 - (\sum y)^2}}\\
    r = \dfrac{ {{n}} \cdot {{sum_xy}} - {{sum_x}} \cdot {{sum_y}} }{\sqrt{ {{n}} \cdot {{sum_x2}}
        - {{sum_x}}^2}\sqrt{ {{n}} \cdot {{sum_y2}} - {{sum_y}}^2}}
      = {{cor}}\\
\end{gather*}

&
{{score}} đ
