%! suppress = MissingImport
{{!Các tham số: sum_xy, sum_x, sum_y, sum_x2, n, a, b, value, predict_value}}
{{intro}}

Ta có:
\begin{gather*}
    a = \dfrac{n \sum xy - (\sum x).(\sum y)}{n(\sum x^2) - (\sum x)^2}
      = \dfrac{ {{n}} \cdot {{sum_xy}} - {{sum_x}} \cdot {{sum_y}} }{ {{n}} \cdot {{sum_x2}} - {{sum_x}}^2 }
      = {{a}}\\
    b = \overline{y} - a\overline{x} = \dfrac{\sum y - a\sum x}{n}
      = \dfrac{ {{sum_y}} - {{a}} \cdot {{sum_x}} }{ {{n}} }
      = {{b}}\\
\end{gather*}

&
{{score_1}} đ
\\
Vậy đường thẳng hồi quy cần tìm là:
\[ y = {{a}} \cdot x + {{b}} \]
&
{{score_2}} đ
