%! suppress = MissingImport
Ta có:
$$ \sum xy = 5028,15 $$
$$ \sum x = 118,3 $$
$$ \sum y = 411,6 $$
$$ \sum x^2 = 1464,17 $$
$$ \sum y^2 = 17610,58 $$
&
0.5đ
\\
Hệ số tương quan là:
$$ r = \dfrac{n\sum xy - (\sum x).(\sum y)}{\sqrt{n\sum x^2 - (\sum x)^2}\sqrt{n\sum y^2 - (\sum y)^2}} $$
$$ r = \dfrac{10.5028,15 - (118,3).(411,6)}{\sqrt{10.1416,17 - (118,3)^2}\sqrt{10.17610,68 - (411,6)^2}} = 0,7639 $$

(Viết công thức được 0,5 điểm, tính đúng đáp số được 0,5 điểm)
&
1đ