%! suppress = MissingImport
Ta có:
$$ \sum xy = {{sum_xy}} $$
$$ \sum x = {{sum_x}} $$
$$ \sum y = {{sum_y}} $$
$$ \sum x^2 = {{sum_x2}} $$
$$ \sum y^2 = {{sum_y2}} $$
&
0.5đ
\\
Hệ số tương quan là:
$$ r = \dfrac{n\sum xy - (\sum x).(\sum y)}{\sqrt{n\sum x^2 - (\sum x)^2}\sqrt{n\sum y^2 - (\sum y)^2}} $$
$$ r = \dfrac{ {{n}}.{{sum_xy}} - {{sum_x}}.{{sum_y}} }{\sqrt{ {{n}}.{{sum_x2}} - {{sum_x}}^2}\sqrt{ {{n}}.{{sum_y2}} - {{sum_y}}^2}}
     = {{cor}} $$

(Viết công thức được 0,5 điểm, tính đúng đáp số được 0,5 điểm)
&
1đ