%! suppress = MissingImport
Ta có:
$$ a = \dfrac{n \sum xy - (\sum x).(\sum y)}{n(\sum x^2) - (\sum x)^2} = \dfrac{10.5028.15 - (118,3).(411,6)}{10.1416,17 - (118,3)^2} = 2,4570$$
$$ b = \overline{y} - a\overline{x} = \dfrac{\sum y - a\sum x}{n} = \dfrac{411,6 - 2,4570.118,3}{10} = 12,0935$$
(Mỗi phần được 0,5 điểm)
&
1 đ
\\
Vậy đường thẳng hồi quy là:
$$ y = 2,4570.x + 12,0935 $$
&
0,5 đ
\\
Lợi nhuận của cơ sở là:
$$ y = 2,4570.17 + 12,0935 = 53,8628 \textrm{ (triệu đồng)} $$
&
0,5 đ