%! suppress = MissingImport
{{!Các tham số: mean1, n1, sigma1, mean2, n2, sigma2, test, alpha, c, conclusion}}
Xét bài toán kiểm định giả thiết:
\[ H_0: \mu_1 = \mu_2 \]
\[ H_1: \mu {{operator}} \mu_2 \]
&
0.5 đ
\\
Ta có: $\overline{x}_1 = {{mean1}}, n_1 = {{n1}}, {{sd_symbol}}_1 = {{sigma1}},
    \overline{x}_2 = {{mean2}}, n_2 = {{n2}}, {{sd_symbol}}_2 = {{sigma2}}$

\[ T = \dfrac{\overline{x_1} - \overline{x_2}}{\sqrt{\dfrac{ {{sd_symbol}}_1^2}{n_1} + \dfrac{ {{sd_symbol}}_2^2}{n_2}}}
     = \dfrac{ {{mean1}} - {{mean2}} }{\sqrt{\dfrac{ {{sigma1}}^2 }{ {{n1}} } + \dfrac{ {{sigma2}}^2 }{ {{n2}} }}}
     = {{test}} \]
&
1.0 đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$

{{{conclusion}}}

Kết luận: % (Viết kết luận vào đây)
&
0.5 đ
