%! suppress = MissingImport
{{!Các tham số: k, n, f, p_0, g_0, test, alpha, c, conclusion}}
Xét bài toán kiểm định giả thiết:
\[ H_0: p = {{p_0}} \]
\[ H_1: p \neq {{p_0}} \]
% Có thể thay đổi H1 cho phù hợp
&
0.5 đ
\\
Ta có: $f = \dfrac{ {{k}} }{ {{n}} } = {{f}}; n = {{n}} $

\[ T = \dfrac{f - p_0}{\sqrt{\dfrac{p_0(1-p_0)}{n}}}
     = \dfrac{ {{f}} - {{p_0}} }{\sqrt{\dfrac{ {{p_0}} \cdot {{g_0}} }{ {{n}} }}}
     = {{test}} \]
&
1.0 đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$

{{{conclusion}}}

Kết luận: (Viết kết luận vào đây)
&
0.5 đ
