%! suppress = MissingImport
{{!Các tham số: statement, table, a_1, a_2, a_k, e_1, e_2, e_k, test, alpha, c, conclusion}}
Xét bài toán kiểm định giả thiết:
\begin{center}
    $H_0:$ {{h0}}
\end{center}
&
{{score_1}} đ
\\
Ta có bảng tân số lý thuyết như sau:

\begin{center}
{{{table}}}
\end{center}


\[ T = \sum_{i=1}^{k} \dfrac{(n_i - \hat{n}_i)^2}{\hat{n}_i}
     = \dfrac{({{a_1}} - {{e_1}})^2}{ {{e_1}} } + \dfrac{({{a_2}} - {{e_2}})^2}{ {{e_2}} } +
        \ldots + \dfrac{({{a_k}} - {{e_k}})^2}{ {{e_k}} }
     = {{test}}\]
&
{{score_2}} đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$

{{{conclusion}}}

Kết luận: % (Viết kết luận vào đây)
&
{{score_3}} đ
