%! suppress = MissingImport
{{!Các tham số: statement, table, n, n_11, n_10, n_01, n_12, n_02, n_rk,
 n_r0, n_0k, test, alpha, c, conclusion}}
Xét bài toán kiểm định giả thiết:
\begin{center}
    $H_0:$ {{h0}}
\end{center}
&
{{score_1}} đ
\\
Ta có bảng sau:

\begin{center}
{{{table}}}
\end{center}

\[ T = n\left( \sum \dfrac{n_{ij}^2}{n_{i0} \cdot n_{0j}} - 1\right)
     = {{n}} \left( \dfrac{ {{n_11}}^2}{ {{n_10}} \cdot {{n_01}} }
        + \dfrac{ {{n_12}}^2 }{ {{n_10}} \cdot {{n_02}} } + \ldots
        + \dfrac{ {{n_rk}}^2 }{ {{n_r0}} \cdot {{n_0k}} } - 1\right)
     = {{test}} \]
&
{{score_2}} đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$

{{{conclusion}}}

Kết luận: % (Viết kết luận vào đây)
&
{{score_3}} đ
