%! suppress = MissingImport
{{!Các tham số: k1, n1, f1, k2, n2, f2, f, g, test, alpha, c, conclusion}}
{{intro}}

Xét bài toán kiểm định giả thiết:
\[ H_0: p_1 = p_2 \]
\[ H_1: p_1 {{{operator}}} p_2 \]
&
{{score_1}} đ
\\
Ta có: $f_1 = \dfrac{ {{k1}} }{ {{n1}} } = {{f1}}; n_1 = {{n1}};
    f_2 = \dfrac{ {{k2}} }{ {{n2}} } = {{f2}}; n_1 = {{n2}};
    f = \dfrac{ {{k1}}+{{k2}} }{ {{n1}}+{{n2}} } = {{f}}$

\[ T = \dfrac{f_1 - f_2}{\sqrt{f(1-f)\left( \dfrac{1}{n_1} + \dfrac{1}{n_2}\right)}}
     = \dfrac{ {{f1}} - {{f2}} }{\sqrt{ {{f}} \cdot {{g}} \cdot \left( \dfrac{1}{ {{n1}} } + \dfrac{1}{ {{n2}} }\right)}}
     = {{test}} \]
&
{{score_2}} đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$

{{{stat_conclusion}}}

Kết luận: {{conclusion}}
&
{{score_3}} đ
