%! suppress = MissingImport
{{!Các tham số: statement, table, n, n_11, n_10, n_01, n_12, n_02, n_rk,
 n_r0, n_0k, test, alpha, c, conclusion}}
Xét bài toán kiểm định giả thiết:
\[ H_0: \textrm{ {{statement}} } \]
&
0.5 đ
\\
Ta có bảng sau:
% Người dùng tự chỉnh sửa lại các nội dung trong bảng sao cho phù hợp
{{{table}}}

\[ T = n\left( \sum \dfrac{n_{ij}^2}{n_{i0} \cdot n_{0j}} - 1\right)
     = {{n}} \left( \dfrac{ {{n_11}}^2}{ {{n_10}}\cdot{{n_01}} }
        + \dfrac{ {{n_12}}^2 }{ {{n_10}}\cdot{{n_02}} } + \ldots
        + \dfrac{ {{n_rk}}^2 }{ {{n_r0}}\cdot{{n_0k}} } - 1\right)
     = {{test}} \]
&
1.0 đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$

{{{conclusion}}}

Kết luận: (Viết kết luận vào đây)
&
0.5 đ
