%! suppress = MissingImport
{{!Các tham số: mean_0, mean, n, sigma, test, alpha, c, conclusion}}
Xét bài toán kiểm định giả thiết:
\[ H_0: \mu = {{mean_0}} \]
\[ H_1: \mu {{operator}} {{mean_0}} \]
&
{{score_1}} đ
\\
Ta có: $\overline{x} = {{mean}}, n = {{n}}, {{sd_symbol}} = {{sigma}}$

\[ T = \dfrac{\overline{x} - \mu_0}{\dfrac{ {{sd_symbol}} }{\sqrt{n}}}
     = \dfrac{ {{mean}} - {{mean_0}} }{\dfrac{ {{sigma}} }{\sqrt{ {{n}} }}}
     = {{test}} \]
&
{{score_2}} đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$

{{{conclusion}}}

Kết luận: % (Viết kết luận vào đây)
&
{{score_3}} đ
