%! suppress = MissingImport
{{!Các tham số: statement, test, alpha, c, conclusion}}
Xét bài toán kiểm định giả thiết:
\[ H_0: \textrm{ {{statement}} } \]
&
0.5 đ
\\
Ta có bảng sau:
% Bảng mà đề bài đã cho, kèm thêm các cột và hàng tính tổng

\[ T = n\left( \sum \dfrac{n_{ij}^2}{n_{i0} n_{0j}} - 1\right)
     = {{test}} \]
&
1.0 đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$
{{conclusion}}
Kết luận: (Viết kết luận vào đây)
&
0.5 đ
