%! suppress = MissingImport
{{!Các tham số: statement, test, alpha, c, conclusion}}
Xét bài toán kiểm định giả thiết:
\[ H_0: \textrm{ {{statement}} } \]
&
0.5 đ
\\
Ta có bảng tân số lý thuyết như sau:
% Bảng tân số (sẽ viết sau)

\[ T = \sum_{i=1}^{k} \dfrac{(n_i - \hat{n}_i)^2}{\hat{n}_i}
     = {{test}}\]
&
1.0 đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$
{{{conclusion}}}
Kết luận: (Viết kết luận vào đây)
&
0.5 đ
