%! suppress = EscapeAmpersand
Ta có: $n = {{n}}, s = {{s}}$
Vì $\alpha = {{alpha}}$ nên $\lambda^2_{\alpha / 2} = {{chi_sq_2}}, \lambda^2_{1 - \alpha / 2} = {{chi_sq_1}}$
&
1 đ
\\
(Viết lời giải vào đây)
\begin{gather*}
    \sigma \in \left( \dfrac{(n-1)s^2}{\lambda^2_{\alpha / 2}}; \dfrac{(n-1)s^2}{\lambda^2_{1 - \alpha / 2}} \right)\\
    \sigma \in \left( \dfrac{ {{n_1}}.{{s_2}} }{ {{chi_sq_1}} }; \dfrac{ {{n_1}}.{{s_2}} }{ {{chi_sq_2}} } \right)\\
\end{gather*}
&
1 đ