%! suppress = MissingImport
{{!Các tham số: mean, n, s, alpha, z_alpha, bottom, top }}
Ta có: $\overline{x} = {{mean}}, n = {{n}}, s = {{s}}$

Vì $\alpha = {{alpha}}$ nên $u_{\alpha / 2} = {{z_alpha}}$
&
0.5 đ
\\
(Viết lời giải vào đây)
\begin{gather*}
    \mu \in \left( \overline{x} - u_{\alpha / 2} \dfrac{s}{\sqrt{n}};
        \overline{x} + u_{\alpha / 2} \dfrac{s}{\sqrt{n}} \right)\\
    \mu \in \left( {{mean}} - {{z_alpha}} \dfrac{ {{s}} }{\sqrt{ {{n}} }};
        {{mean}} + {{z_alpha}} \dfrac{ {{s}} }{\sqrt{ {{n}} }} \right)\\
    \mu \in ({{bottom}}; {{top}})\\
\end{gather*}
(Viết công thức đúng được 0,5 điểm, tính toán đúng được 1 đ)
&
1.5 đ
