%! suppress = EscapeAmpersand
{{!Các tham số: k, n, f, alpha, z_alpha, 1_f, bottom, top}}
Ta có: $f = \dfrac{{{k}}}{{{n}}} = {{f}}; n = {{n}}$

Vì $\alpha = {{alpha}}$ nên $u_{\alpha / 2} = {{z_alpha}}$
&
1 đ
\\
(Viết lời giải vào đây)
\begin{gather*}
    p \in \left( f - u_{\alpha / 2} \sqrt{\dfrac{f(1-f)}{n}};
        f + u_{\alpha / 2} \sqrt{\dfrac{f(1-f)}{n}} \right)\\
    p \in \left( {{f}} - {{z_alpha}} \sqrt{\dfrac{ {{f}} {{g}} }{ {{n}} }};
        {{f}} - {{z_alpha}} \sqrt{\dfrac{ {{f}} {{g}} }{ {{n}} }} \right)\\
    p \in ({{bottom}}; {{top}})\\
\end{gather*}
&
1 đ