%! suppress = EscapeAmpersand
Ta có: $\epsilon = {{eps}}$

Vì $\alpha = {{alpha}}$ nên $u_{\alpha / 2} = {{z_alpha}}$
&
0.5 đ
\\
Kích thước mẫu cần thiết để thỏa mãn yêu cầu bài toán là:
%! suppress = MissingImport
\[ n \geqslant \dfrac{u_{\alpha/2}^2}{4\epsilon^2}
    \Leftrightarrow n \geqslant \dfrac{ {{z_alpha}}^2}{4.{{eps}}^2}
    \Leftrightarrow n \geqslant {{value}} \]
&
1 đ
\\
Kết luận: (Viết kết luận vào đây)
&
0.5 đ