%! suppress = MissingImport
Xét bài toán kiểm định giả thiết:
$$ H_0: p = {{p_0}} $$
$$ H_1: p \neq {{p_0}} $$
% Có thể thay đổi H1 cho phù hợp
&
0.5 đ
\\
Ta có: $f_1 = \dfrac{ {{k1}} }{ {{n1}} } = {{f1}}; n_1 = {{n1}};
    f_2 = \dfrac{ {{k2}} }{ {{n2}} } = {{f2}}; n_1 = {{n2}};
    f = \dfrac{ {{f1}}+{{f2}} }{ {{n1}}+{{n2}} } = {{f}}$

$$ T = \dfrac{f_1 - f_2}{\sqrt{f(1-f)\left( \dfrac{1}{n_!} + \dfrac{1}{n_2}\right)}}
     = \dfrac{ {{f1}} - {{f2}} }{\sqrt{ {{f}}.{{1_f}} \left( \dfrac{1}{ {{n1}} } + \dfrac{1}{ {{n2}} }\right)}}
     = {{test}} $$
&
1.0 đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$
{{conclusion}}
Kết luận: (Viết kết luận vào đây)
&
0.5 đ