%! suppress = MissingImport
Xét bài toán kiểm định giả thiết:
\[ H_0: \mu = {{mean_0}} \]
\[ H_1: \mu \neq {{mean_0}} \]
(Có thể sửa lại H1 cho phù hợp)
&
0.5 đ
\\
Ta có: $\overline{x} = {{mean}}, n = {{n}}, s = {{sigma}}$

\[ T = \dfrac{\overline{x} - \mu_0}{\dfrac{\sigma}{\sqrt{n}}}
    = \dfrac{ {{mean}} - {{mean_0}} }{\dfrac{ {{sigma}} }{\sqrt{ {{n}} }}}
    = {{test}} \]
&
1.0 đ
\\
Vì $\alpha = {{alpha}}$ nên $c = {{c}}$
{{conclusion}}
% Ví dụ như bác bỏ H0 hay không đủ điều kiện bác bỏ H0
Kết luận: (Viết kết luận vào đây)
&
0.5 đ