%! suppress = EscapeAmpersand
{{!Các tham số: mean, n, s, alpha, t_alpha, bottom, top}}
Ta có: $\overline{x} = {{mean}}, n = {{n}}, s = {{s}}$

Vì $\alpha = {{alpha}}$ nên $t_{\alpha / 2} = {{t_alpha}}$
&
0.5 đ
\\
(Viết lời giải vào đây)
%! suppress = MissingImport
\begin{gather*}
    \mu \in \left( \overline{x} - t_{\alpha / 2} \dfrac{s}{\sqrt{n}};
    \overline{x} + t_{\alpha / 2} \dfrac{s}{\sqrt{n}} \right)\\
    \mu \in \left( {{mean}} - {{ t_alpha }} \dfrac{ {{s}} }{\sqrt{ {{n}} }};
        {{mean}} + {{ t_alpha }} \dfrac{ {{s}} }{\sqrt{ {{n}} } } \right)\\
    \mu \in ({{bottom}}; {{top}})\\
\end{gather*}
(Viết công thức đúng được 0,5 điểm, tính toán đúng được 1 đ)
&
1.5 đ
