%! suppress = EscapeAmpersand
{{!Các tham số: n, s, alpha, chi_sq_1, chi_sq_2, n_1, s2, bottom, top}}
Ta có: $n = {{n}}, s = {{s}}$
Vì $\alpha = {{alpha}}$ nên $\lambda^2_{\alpha / 2} = {{chi_sq_2}},
    \lambda^2_{1 - \alpha / 2} = {{chi_sq_1}}$
&
0.5 đ
\\
{{conclusion}}
\begin{gather*}
    \sigma^2 \in \left( \dfrac{(n-1)s^2}{\lambda^2_{\alpha / 2}};
        \dfrac{(n-1)s^2}{\lambda^2_{1 - \alpha / 2}} \right)\\
    \sigma^2 \in \left( \dfrac{ {{n_1}} \cdot {{s2}} }{ {{chi_sq_2}} };
        \dfrac{ {{n_1}} \cdot {{s2}} }{ {{chi_sq_1}} } \right)\\
    \sigma^2 \in ({{bottom}}, {{top}})
\end{gather*}
(Viết công thức đúng được 0,5 điểm, tính toán đúng được 1 đ)
&
1.5 đ
