%! suppress = EscapeAmpersand
%! suppress = MissingImport
{{!Các tham số: eps, alpha, s, z_alpha, value}}
Ta có: $\epsilon = {{eps}} ; \alpha = {{alpha}}; {{sd_symbol}} = {{s}}$
&
0.5 đ
\\
Kích thước mẫu cần thiết để thỏa mãn yêu cầu bài toán là:
\[ n \geqslant \left( \dfrac{ {{sd_symbol}} \cdot u_{\alpha / 2}}{\epsilon} \right)^2
     \Leftrightarrow n \geqslant \left( \dfrac{ {{s}} \cdot {{z_alpha}} }{ {{eps}} }\right)^2
     \Leftrightarrow n \geqslant {{value}} \]
(Viết công thức đúng được 0.5 điểm, tính toán đúng được 0.5 điểm)
&
1 đ
\\
Kết luận: % (Viết kết luận vào đây)
&
0.5 đ
