%! suppress = EscapeAmpersand
{{!Các tham số: f, eps, alpha, z_alpha, 1_f, value}}
Ta có: $f = {{f}}; \epsilon = {{eps}}$

Vì $\alpha = {{alpha}}$ nên $u_{\alpha / 2} = {{z_alpha}}$
&
0.5 đ
\\
Kích thước mẫu cần thiết để thỏa mãn yêu cầu bài toán là:
%! suppress = MissingImport
\[ n \geqslant \dfrac{u_{\alpha/2}^2 f(1-f)}{\epsilon^2}
     \Leftrightarrow n \geqslant \dfrac{ {{z_alpha}}^2 \cdot {{f}}\cdot{{g}} }{ {{eps}}^2}
     \Leftrightarrow n \geqslant {{value}} \]
(Viết công thức đúng được 0.5 điểm, tính toán đúng được 0.5 điểm)
&
1 đ
\\
Kết luận: (Viết kết luận vào đây)
&
0.5 đ
