%! suppress = EscapeAmpersand
{{!Các tham số: eps, alpha, z_alpha, value}}
Ta có: $\epsilon = {{eps}}$

Vì $\alpha = {{alpha}}$ nên $u_{\alpha / 2} = {{z_alpha}}$
&
{{score_1}} đ
\\
Kích thước mẫu cần thiết để thỏa mãn yêu cầu bài toán là:
%! suppress = MissingImport
\[ n \geqslant \dfrac{u_{\alpha/2}^2}{4\epsilon^2}
     \Leftrightarrow n \geqslant \dfrac{ {{z_alpha}}^2}{4 \cdot {{eps}}^2}
     \Leftrightarrow n \geqslant {{value}} \]
&
{{score_2}} đ
\\
Kết luận: {{conclusion}}
&
{{score_3}} đ
